@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Work+Sans&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}








body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Navigation Styles */
nav {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    display: flex;
    align-items: center;
}

.nav-title img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
}

.nav-title span {
    color: #FF42A5;

    font-size: 28px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
}

ul li {
    margin: 5px 10px;
}

ul li a {
    text-decoration: none;
    color: #3C354F;

    font-size: 16px;

    padding-left: 5px;

    color: #534C64;
    opacity: 2;
}

/* Media Query for Mobile Devices */
@media (max-width: 768px) {
    .nav-title {
        flex-direction: column;
        align-items: center;
    }

    .nav-title img {
        margin-bottom: 5px;
    }

    ul {
        flex-direction: column;
        align-items: center;
    }

    ul li {
        margin: 5px 0;
    }
}














.container {
    background-image: url("images/ten.png");
    display: flex;

    justify-content: space-between;
    align-items: center;
    margin-left: 30%;
    margin-right: 30%;



}

.left-side {
    flex: 1;
    text-align: center;


}

.right-side {
    flex: 1;
    text-align: center;

}

.buttons {
    margin-top: 20px;

}



button {
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.button-pink {
    background-color: palevioletred;
}

.button-blue {
    background-color: aquamarine;
}

button+button {
    margin-left: 10px;
}




img {
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: stretch;
    }

    .right-side {
        order: -1;
        margin-bottom: 20px;
    }

    .left-side {
        margin-right: 0;
    }
}













.container-one {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.gamo {
    background: linear-gradient(to top, blue, pink);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.cards {
    display: flex;
    justify-content: space-between;
}

.card {
    position: relative;
    width: 23%;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.card:hover .overlay {
    opacity: 1;
}

.play-button {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
}

h3 {
    margin-top: 10px;
}

p {
    margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
    .cards {
        flex-direction: column;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}





.container-two {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.game {
    width: calc(20% - 20px);
    margin-bottom: 20px;
    cursor: pointer;
}

.game-checkbox {
    display: none;
}

.game-label {
    display: flex;
    align-items: center;
}

.game-icon-wrapper {
    margin-right: 10px;
}

.game-icon {
    width: 50px;
    height: 50px;
    transition: filter 0.3s;
}

.game-name {
    color: #555555;
    transition: color 0.3s;
}

.game-checkbox:checked+.game-label .game-icon {
    filter: invert(50%);
}

.game-checkbox:checked+.game-label .game-name {
    color: blue;
}

@media only screen and (max-width: 768px) {
    .game {
        width: calc(50% - 20px);
    }
}

















footer {
    background-color: #0B0223;
    padding: 20px;
    text-align: center;
}

.footer-header {

    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.footer-header img {
    max-width: 80px;
    height: auto;

    margin-right: 10px;
}



h1 {
    background: linear-gradient(to top, blue, pink);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.8em;
    font-weight: 900;

    font-family: 'Work Sans', sans-serif;

}








.footer-titles {
    margin-bottom: 10px;
}

.footer-titles ul {
    margin: 0 5px;
    display: flex;
    justify-content: center;

}


.footer-titles ul li a {

    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 2 em;
    opacity: 0.7;
    transition: 0.5s;


}



.footer-titles ul li a:hover {
    opacity: 1;
}





.footer-icons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.footer-icons a {
    text-decoration: none;
    padding: 10px;

    margin: 10px;
    border-radius: 50%;
}


.footer-icons a i {

    font-size: 2em;
    color: white;
    opacity: 2;
}



.footer-bottom ul {
    margin: 0 5px;
    display: flex;
    justify-content: center;

}




.footer-bottom ul li a {

    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1 em;
    opacity: 0.7;
    transition: 0.5s;


}







.footer-paragraph {
    margin-bottom: 20px;
}

.footer-paragraph p {
    color: white;
    margin-top: 70px;
}





@media (max-width: 768px) {
    .footer-header {
        flex-direction: column;
        align-items: center;
    }

    .footer-header img {
        margin-bottom: 10px;
    }

    .footer-titles ul,
    .footer-icons,
    .footer-bottom ul {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .footer-titles li,
    .footer-icons a,
    .footer-bottom li {
        margin: 5px;
    }
}















.flex-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.flex-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    padding: 20px;
}


.heading-color {


    text-align: right;
    font-family: Work Sans;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;
    margin-right: 50px;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left-side,
.right-side {
    position: relative;
    text-align: center;
    margin-bottom: 20px;
}

.image2 {
    position: absolute;
    left: -100px;
    bottom: -100px;
    max-width: 65%;
    max-height: 65%;
}

.right-side img {
    max-width: 100%;
    height: auto;
}

@media only screen and (min-width: 768px) {
    .flex-content {
        flex-direction: row;
    }



    .left-side,
    .right-side {
        margin-bottom: 50px;

        flex-wrap: wrap;
        justify-content: space-evenly;
    }



    .left-side {
        flex: 1;
        padding-right: 20px;
        text-align: left;
    }

    .right-side {
        flex: 1;
        padding-left: 20px;
        text-align: right;
    }
}